{% extends 'countries/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Template Tags</h1>
    -<p>comment:</p>{% comment %} This is comment {% endcomment %}
    -<p>lorem: {% lorem %}</p>
    -<p>Fecha: {% now "Y-m-d" %}</p>


    <h1>Template Filters</h1>
    -<p>Filter: {% filter force_escape|lower %} %^&%^&#$% TEXT {% endfilter %}</p>
    -<p>capfirst: {{ "PRUEBA"|capfirst }}</p>
    -<p>divisibleby: {% if population|divisibleby:"3" %} do {% endif %}</p>
{% endblock  %}