<div style="display: flex; border: solid 1px #aaa; width: 40%; margin: 10px; border-radius: 5px">
	<div style="display: inline-block;margin: 5px;border-right: solid 1px #aaa;">
		<h2 style="padding-right: 3px">{{ continent.name|title }} </h2>
	</div>
	<div style="display: inline-block; width: 100%">
		<p>Traduccion: {{ continent.translation|capfirst }}</p>
		Color: <div style="background-color: {{continent.color}};width: 99%;height: 10px;display: inline-block;"></div>
        <a href="{% url 'continents.detail' continent.id %}">Detail[{{ continent.pk }}]</a>
	</div>
</div>